*{
    margin: 0;
}

#album1{
    width: 300px;   
    height: 400px;
    overflow: hidden;
    margin: 150px auto;   
    border-radius: 26px;
    transition: box-shadow 1.5s;
    position: relative;
}                             
#album1:hover {
    box-shadow: 0 0 15px #333;
}

#album1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#album1 p, #album1 h3, #album1 i, #album1 button{
    position: absolute;
    /*
    left: 80px;
    text-align: right;
    */
    color: rgb(2, 1, 1);
    
}

#album1 h3 {
    left: 210px;
    bottom: 370px;
}

#album1 p {
    left: 80px;
    bottom: 110px;
}

#album1 i {
    position: absolute;     
    left: 9px;
    bottom: 7px;
}

#album1 button {
    position: absolute; 
    left: 200px;
    bottom: 340px; 
    border-radius: 50px;   
    color: white;
}

/* -- 1 elemento */
#IconaArrow {
    color: white;
    margin: 2px;
    padding: 0px;

}
/* -- 1 div elemento */
#IconaArrowDiv {    
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: white;
    padding: 20px 80px;
    border-radius: 50px;
    font-size: 15px;
}
#IconaArrowText {
    position: absolute;
    font-size: 15px;
}   

#IconaShare {
    color: white;
}

#IconaShareDiv {    
    position: absolute;
    left: 200px;
    bottom: 20px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 50px;
    /* carattere piu grande per il bottone */
    font-size: 25px;
}

#IconaEllipsis {
    color: white;

}
#IconaEllipsisDiv{
    position: absolute;
    left: 250px;
    bottom: 20px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 50px;
    /* carattere piu grande per il bottone */
    font-size: 25px;
}

#Save{
    background-color: red;
    color: white;
    border-radius: 5px; 
    border: none;                            
    padding: 10px 17px;
    margin-right: 10px;
    font-size: 17px;
    cursor: pointer;
    font-size: 20px;
}
/*  bordo card

#album1{
    border: 5px solid rgb(12, 214, 45);        
}   

*/